/* Кнопка перезагрузки погоды */
.reload-button {
    border: 0.1rem solid hsl(0, 0%, 50%);
    margin: 0.5rem;
    padding: 0.5rem;
}

body{
    background: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

/* Контейнер для погоды за один день */
.one-day-weather-container {
    width: 10rem;
    height: 5rem;

    border: 0.1rem solid hsl(240, 62%, 63%);
    border-radius: 1rem;

    background: hsla(229, 98%, 17%, 0.41);

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

/* Дата в компоненте с погодой */
.one-day-weather-date {
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(240, 100%, 27%);
}

/* Элемент, выравненный по центру */
.centered {
    text-align: center;
}

/* Loading symbol */
.loading-symbol {
    text-align: center;
}

/* Loading symbol image */
.loading-symbol-image {
    width: 1.0rem;
    height: 1.0rem;
}

/* Контейнер для элементов календаря */
.weather-calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Столбец в календаре погоды (контенер) */
.weather-calendar-item-container {
    cursor: pointer;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    width: 7rem;
}

/* Столбец в календаре погоды (верхняя часть) */
.weather-calendar-item-container.weather-calendar-item-top {
    height: 8rem;

    color: hsl(240, 100%, 27%);
    background-color: rgba(1, 17, 66, 0.53);

    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;

    font-size: 1.5rem;
    font-weight: bold;
}

/* Столбец в календаре погоды (нижняя часть) */
.weather-calendar-item-container.weather-calendar-item-bottom {
    color: hsl(168, 100%, 84%);
    background-color: hsl(214, 100%, 9%);

    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    font-size: 2.5rem;
    font-weight: bold;
}

/* Картинка в погодном каледаре*/
.weather-calendar-item-picture {
    width: 7rem;
}

.text-left-aligned{
    text-align: left;
}